{
  "name": "geocontinuum.com",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "img/logo.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":13431,\"newSize\":13289}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "img",
      "TimeCircles",
      "fonts"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7884,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "sftp",
    "remotePath": "geocontinuum.com/",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "rhyme.dreamhost.com",
      "port": 22,
      "usePrivateKey": false,
      "username": "geocontinuum",
      "password": "orange1water",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "index.html",
        "ctime": "2018-03-14T11:49:39.879Z",
        "mtime": "2018-03-14T11:37:40.416Z",
        "size": 11221
      },
      {
        "file": "img/logo.png",
        "ctime": "2018-03-14T11:48:09.465Z",
        "mtime": "2018-03-14T11:48:09.465Z",
        "size": 13289
      },
      {
        "file": "android-icon-144x144.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 28993
      },
      {
        "file": "android-icon-192x192.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 46876
      },
      {
        "file": "android-icon-36x36.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 3804
      },
      {
        "file": "android-icon-48x48.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 5585
      },
      {
        "file": "android-icon-72x72.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 9826
      },
      {
        "file": "android-icon-96x96.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 15197
      },
      {
        "file": "apple-icon-114x114.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 19771
      },
      {
        "file": "apple-icon-120x120.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 21436
      },
      {
        "file": "apple-icon-144x144.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 28993
      },
      {
        "file": "apple-icon-152x152.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 31662
      },
      {
        "file": "apple-icon-180x180.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 41877
      },
      {
        "file": "apple-icon-57x57.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 7036
      },
      {
        "file": "apple-icon-60x60.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 7533
      },
      {
        "file": "apple-icon-72x72.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 9826
      },
      {
        "file": "apple-icon-76x76.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 10640
      },
      {
        "file": "apple-icon-precomposed.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 47554
      },
      {
        "file": "apple-icon.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 47554
      },
      {
        "file": "browserconfig.xml",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 281
      },
      {
        "file": "contact.html",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-03-04T04:06:46.000Z",
        "size": 8364
      },
      {
        "file": "css/animate.css",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 68796
      },
      {
        "file": "css/bootstrap.min.css",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 114011
      },
      {
        "file": "css/font-awesome.min.css",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 21984
      },
      {
        "file": "css/ionicons.min.css",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 51284
      },
      {
        "file": "css/owl.carousel.css",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 1476
      },
      {
        "file": "css/responsive.css",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 9037
      },
      {
        "file": "css/style.css",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 15471
      },
      {
        "file": "favicon-16x16.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:08.000Z",
        "size": 1690
      },
      {
        "file": "favicon-32x32.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:08.000Z",
        "size": 3296
      },
      {
        "file": "favicon-96x96.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:08.000Z",
        "size": 15197
      },
      {
        "file": "favicon.ico",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:02:58.000Z",
        "size": 1150
      },
      {
        "file": "fonts/fontawesome-webfont.eot",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 56006
      },
      {
        "file": "fonts/fontawesome-webfont.svg",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 287007
      },
      {
        "file": "fonts/fontawesome-webfont.ttf",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 112160
      },
      {
        "file": "fonts/fontawesome-webfont.woff",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 65452
      },
      {
        "file": "fonts/FontAwesome.otf",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 85908
      },
      {
        "file": "fonts/ionicons.eot",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 120724
      },
      {
        "file": "fonts/ionicons.svg",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 333834
      },
      {
        "file": "fonts/ionicons.ttf",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 188508
      },
      {
        "file": "fonts/ionicons.woff",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 67904
      },
      {
        "file": "img/call-to-action-bg.jpg",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 27094
      },
      {
        "file": "img/cotation.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 1858
      },
      {
        "file": "img/featue-bg.jpg",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 127060
      },
      {
        "file": "img/item-img1.jpg",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 4322
      },
      {
        "file": "img/slider-bg.jpg",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2016-02-20T02:05:38.000Z",
        "size": 183440
      },
      {
        "file": "img/wrapper-img.gif",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2016-02-20T01:59:20.000Z",
        "size": 1658361
      },
      {
        "file": "img/clients/clients-logo-9.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 6397
      },
      {
        "file": "img/clients/clients-logo1.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 4087
      },
      {
        "file": "img/clients/clients-logo10.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 4807
      },
      {
        "file": "img/clients/clients-logo2.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 5573
      },
      {
        "file": "img/clients/clients-logo3.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 4900
      },
      {
        "file": "img/clients/clients-logo4.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 5066
      },
      {
        "file": "img/clients/clients-logo5.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 4420
      },
      {
        "file": "img/clients/clients-logo6.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 2524
      },
      {
        "file": "img/clients/clients-logo7.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 9562
      },
      {
        "file": "img/clients/clients-logo8.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 10101
      },
      {
        "file": "img/portfolio/work1.jpg",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 5958
      },
      {
        "file": "img/portfolio/work2.jpg",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 4445
      },
      {
        "file": "img/portfolio/work3.jpg",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 5584
      },
      {
        "file": "img/portfolio/work4.jpg",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 6254
      },
      {
        "file": "img/portfolio/work5.jpg",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 4978
      },
      {
        "file": "img/portfolio/work6.jpg",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 6326
      },
      {
        "file": "inc/readme.css",
        "ctime": "2017-03-15T12:10:03.000Z",
        "mtime": "2017-03-15T12:10:03.000Z",
        "size": 806
      },
      {
        "file": "inc/TimeCircles.css",
        "ctime": "2017-03-15T12:10:03.000Z",
        "mtime": "2017-03-15T12:10:03.000Z",
        "size": 828
      },
      {
        "file": "inc/TimeCircles.js",
        "ctime": "2017-03-15T12:10:03.000Z",
        "mtime": "2017-03-15T12:10:03.000Z",
        "size": 34739
      },
      {
        "file": "js/bootstrap.min.js",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 29097
      },
      {
        "file": "js/google-analytics.js",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-25T21:06:58.000Z",
        "size": 440
      },
      {
        "file": "js/google-map-init.js",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-22T02:21:20.000Z",
        "size": 4226
      },
      {
        "file": "js/google-tags.js",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-25T21:07:07.000Z",
        "size": 384
      },
      {
        "file": "js/jquery.counterup.js",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 2576
      },
      {
        "file": "js/main.js",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-18T04:41:58.000Z",
        "size": 737
      },
      {
        "file": "js/owl.carousel.min.js",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 23890
      },
      {
        "file": "js/plugins.js",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 29268
      },
      {
        "file": "js/min/main.min.js",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 246
      },
      {
        "file": "js/min/plugins.min.js",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 325
      },
      {
        "file": "js/min/waypoints.min.js",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 8044
      },
      {
        "file": "js/vendor/jquery-1.10.2.min.js",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-25T21:49:06.000Z",
        "size": 93109
      },
      {
        "file": "js/vendor/modernizr-2.6.2.min.js",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2015-12-19T13:42:26.000Z",
        "size": 15414
      },
      {
        "file": "manifest.json",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 720
      },
      {
        "file": "maptest/maptest.html",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-20T22:27:22.000Z",
        "size": 711
      },
      {
        "file": "ms-icon-144x144.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 28993
      },
      {
        "file": "ms-icon-150x150.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 30944
      },
      {
        "file": "ms-icon-310x310.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:08.000Z",
        "size": 94714
      },
      {
        "file": "ms-icon-70x70.png",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T20:03:06.000Z",
        "size": 9409
      },
      {
        "file": "TimeCircles/demo.html",
        "ctime": "2017-03-15T12:10:03.000Z",
        "mtime": "2017-03-15T12:10:03.000Z",
        "size": 3111
      },
      {
        "file": "TimeCircles/MIT.txt",
        "ctime": "2017-03-15T12:10:03.000Z",
        "mtime": "2017-03-15T12:10:03.000Z",
        "size": 1097
      },
      {
        "file": "TimeCircles/readme.html",
        "ctime": "2017-03-15T12:10:03.000Z",
        "mtime": "2017-03-15T12:10:03.000Z",
        "size": 27663
      },
      {
        "file": "trusted_partners.html",
        "ctime": "2017-03-11T21:47:14.000Z",
        "mtime": "2017-02-23T19:39:28.000Z",
        "size": 10152
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": false,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}